body {
	font-size: 16px;
	color: black;
}

/** HEADER **/
#headerNav {
	background-color: #999999;
	border-radius: 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.navbar-header .navbar-brand {
	color: black;
	font-size: 2em;
	vertical-align: middle;
	margin-top: 10px;
}
.container-fluid h2 {
	text-align: center;
	margin: 15px auto 30px;
}
#mainContent div {
	background-color: #999999;
	padding-bottom: 15px;
	width: 100%;
	margin-bottom: 20px;
}
#mainContent h3 {
	text-align: center;
	padding-top: 5px;
	margin-bottom-: 15px;
}

#nav-list {
	background-color: white;

}
#nav-list a {
 	color: black;
  	
  	border-bottom: 1px solid black;
}
#nav-list a:hover {
	background: #E7E7E7;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

hr {
	border-color: black;
	background-color: black;
	color: black;
}